html {
  height: 100%; }

body {
  cursor: url("../img/cursor/wow_default.cur"), default;
  height: 100%; }

#main-body {
  width: 100%;
  height: 100%;
  display: flex; }
  #main-body .left-part {
    min-width: 400px;
    padding: 10px 230px 10px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    #main-body .left-part .main-title {
      margin: 0 10px 10px 10px;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33); }
    #main-body .left-part .goYa {
      width: 330px;
      background: linear-gradient(90deg, rgba(248, 255, 0, 0.5), rgba(21, 153, 87, 0));
      padding: 10px;
      margin: 10px; }
      #main-body .left-part .goYa .title {
        font-weight: bold;
        font-size: 17px; }
      #main-body .left-part .goYa .text-red {
        color: red; }
    #main-body .left-part .box-part-max {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; }
      #main-body .left-part .box-part-max .box-col {
        display: flex;
        flex-direction: column; }
        #main-body .left-part .box-part-max .box-col .box-1, #main-body .left-part .box-part-max .box-col .box-2 {
          width: 330px;
          background: rgba(31, 128, 123, 0.2);
          padding: 10px;
          margin: 10px;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
          #main-body .left-part .box-part-max .box-col .box-1 .title, #main-body .left-part .box-part-max .box-col .box-2 .title {
            font-weight: bold;
            text-align: center;
            font-size: 25px; }
          #main-body .left-part .box-part-max .box-col .box-1 .sub-box, #main-body .left-part .box-part-max .box-col .box-2 .sub-box {
            margin-top: 15px; }
            #main-body .left-part .box-part-max .box-col .box-1 .sub-box .sub-title, #main-body .left-part .box-part-max .box-col .box-2 .sub-box .sub-title {
              font-weight: bold;
              font-size: 17px; }
            #main-body .left-part .box-part-max .box-col .box-1 .sub-box .text-red, #main-body .left-part .box-part-max .box-col .box-2 .sub-box .text-red {
              color: red; }
            #main-body .left-part .box-part-max .box-col .box-1 .sub-box .hr-sub-box, #main-body .left-part .box-part-max .box-col .box-2 .sub-box .hr-sub-box {
              margin: 4px 0 2px 0;
              width: 100%;
              color: #7f7f7f;
              background: rgba(127, 127, 127, 0.36);
              height: 2px; }
    #main-body .left-part .box-part-min {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; }
      #main-body .left-part .box-part-min .box {
        width: 330px;
        background: rgba(31, 128, 123, 0.2);
        padding: 10px;
        margin: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
        #main-body .left-part .box-part-min .box .title {
          font-weight: bold;
          text-align: center;
          margin-bottom: 15px;
          font-size: 25px; }
        #main-body .left-part .box-part-min .box .space-between {
          display: flex;
          justify-content: space-between; }
        #main-body .left-part .box-part-min .box .hr-sub-box {
          margin: 4px 0 2px 0;
          width: 100%;
          color: #7f7f7f;
          background: rgba(127, 127, 127, 0.36);
          height: 2px; }
  #main-body .right-part {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border-left: black solid 1px;
    color: white;
    display: flex;
    flex-direction: column; }
    #main-body .right-part .box-links {
      margin-bottom: 20px; }
      #main-body .right-part .box-links .link:hover {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
        transition-duration: 400ms; }
    #main-body .right-part .box-time {
      margin-bottom: 20px; }
      #main-body .right-part .box-time .col2 {
        display: flex;
        justify-content: space-between; }
    #main-body .right-part .box-liver {
      margin-bottom: 20px; }
      #main-body .right-part .box-liver .col2 {
        display: flex;
        justify-content: space-between; }
      #main-body .right-part .box-liver .desc {
        font-size: 10px; }
  #main-body .copyright {
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

div.loadBg {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }

div.loadBgFadeout {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeout;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

div.loadPic {
  width: 400px;
  height: 400px;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes rotation {
  from {
    transform: rotate(50deg); }
  to {
    transform: rotate(410deg); } }
@keyframes fadeout {
  from {
    opacity: 100%;
    width: 100%;
    height: 100%; }
  99% {
    opacity: 0;
    width: 100%;
    height: 100%; }
  to {
    width: 0;
    height: 0; } }
div.loadText {
  width: 100px;
  height: 70px;
  position: fixed;
  text-align: center;
  font-size: 20px; }

/*# sourceMappingURL=base_1.css.map */
