html {
  height: 100%; }

body {
  cursor: url("../img/cursor/wow_default.cur"), default;
  height: 100%; }

#main-body {
  width: 100%;
  height: 100%;
  display: flex; }
  #main-body .left-part {
    min-width: 400px;
    padding: 10px 230px 10px 10px;
    flex-grow: 1;
    display: none;
    flex-direction: column; }
    #main-body .left-part .main-title {
      margin: 0 10px 10px 10px;
      font-size: 30px;
      font-weight: bold;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33); }
    #main-body .left-part .goYa {
      width: 330px;
      background: linear-gradient(90deg, rgba(248, 255, 0, 0.5), rgba(21, 153, 87, 0));
      padding: 10px;
      margin: 10px; }
      #main-body .left-part .goYa .title {
        font-weight: bold;
        font-size: 17px; }
      #main-body .left-part .goYa .text-red {
        color: red; }
    #main-body .left-part .box-part-max {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; }
      #main-body .left-part .box-part-max .box-col {
        display: flex;
        flex-direction: column; }
        #main-body .left-part .box-part-max .box-col .box-1, #main-body .left-part .box-part-max .box-col .box-2 {
          width: 330px;
          background: rgba(31, 128, 123, 0.2);
          padding: 10px;
          margin: 10px;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
          #main-body .left-part .box-part-max .box-col .box-1 .title, #main-body .left-part .box-part-max .box-col .box-2 .title {
            font-weight: bold;
            text-align: center;
            font-size: 25px; }
          #main-body .left-part .box-part-max .box-col .box-1 .sub-box, #main-body .left-part .box-part-max .box-col .box-2 .sub-box {
            margin-top: 15px; }
            #main-body .left-part .box-part-max .box-col .box-1 .sub-box .sub-title, #main-body .left-part .box-part-max .box-col .box-2 .sub-box .sub-title {
              font-weight: bold;
              font-size: 17px; }
            #main-body .left-part .box-part-max .box-col .box-1 .sub-box .text-red, #main-body .left-part .box-part-max .box-col .box-2 .sub-box .text-red {
              color: red; }
            #main-body .left-part .box-part-max .box-col .box-1 .sub-box .hr-sub-box, #main-body .left-part .box-part-max .box-col .box-2 .sub-box .hr-sub-box {
              margin: 4px 0 2px 0;
              width: 100%;
              color: #7f7f7f;
              background: rgba(127, 127, 127, 0.36);
              height: 2px; }
    #main-body .left-part .box-part-min {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; }
      #main-body .left-part .box-part-min .box {
        width: 330px;
        background: rgba(31, 128, 123, 0.2);
        padding: 10px;
        margin: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
        #main-body .left-part .box-part-min .box .title {
          font-weight: bold;
          text-align: center;
          margin-bottom: 15px;
          font-size: 25px; }
        #main-body .left-part .box-part-min .box .space-between {
          display: flex;
          justify-content: space-between; }
        #main-body .left-part .box-part-min .box .hr-sub-box {
          margin: 4px 0 2px 0;
          width: 100%;
          color: #7f7f7f;
          background: rgba(127, 127, 127, 0.36);
          height: 2px; }
  #main-body .right-part, #main-body .right-part_Transform {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border-left: black solid 1px;
    color: white;
    display: flex;
    flex-direction: column; }
    #main-body .right-part .box-links, #main-body .right-part_Transform .box-links {
      margin-bottom: 20px; }
      #main-body .right-part .box-links .link:hover, #main-body .right-part_Transform .box-links .link:hover {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
        transition-duration: 400ms; }
    #main-body .right-part .box-time, #main-body .right-part_Transform .box-time {
      margin-bottom: 20px; }
      #main-body .right-part .box-time .col2, #main-body .right-part_Transform .box-time .col2 {
        display: flex;
        justify-content: space-between; }
    #main-body .right-part .box-liver, #main-body .right-part_Transform .box-liver {
      margin-bottom: 20px; }
      #main-body .right-part .box-liver .col2, #main-body .right-part_Transform .box-liver .col2 {
        display: flex;
        justify-content: space-between; }
      #main-body .right-part .box-liver .desc, #main-body .right-part_Transform .box-liver .desc {
        font-size: 10px; }
  #main-body .right-part_Transform {
    animation-name: right-part_Transform;
    animation-delay: 2.0s;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }
  #main-body .copyright {
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.loadingBg, .loadingBg_Transform {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }

.loadingBg_Transform {
  animation-name: loadingBg_Transform;
  animation-delay: 1.0s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

.loadingItems, .loadingItems_Fadeout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loadingItems .loadingPic, .loadingItems_Fadeout .loadingPic {
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    animation-name: loadingPic-rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .loadingItems .loadingText, .loadingItems_Fadeout .loadingText {
    width: 100px;
    height: 70px;
    color: white;
    position: fixed;
    text-align: center;
    font-size: 20px; }

.loadingItems_Fadeout {
  animation-name: loadingItems_Fadeout;
  animation-duration: 1.0s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

@keyframes loadingPic-rotation {
  from {
    transform: rotate(50deg); }
  to {
    transform: rotate(410deg); } }
@keyframes loadingItems_Fadeout {
  from {
    opacity: 100%;
    z-index: 11; }
  99% {
    opacity: 0;
    z-index: 11; }
  to {
    opacity: 0;
    z-index: -1; } }
@keyframes loadingBg_Transform {
  from {
    width: 100%;
    left: 0;
    opacity: 100%;
    z-index: 10; }
  99% {
    width: 1px;
    left: 50%;
    opacity: 100%;
    z-index: 10; }
  to {
    width: 1px;
    left: 50%;
    opacity: 0;
    z-index: -1; } }
@keyframes right-part_Transform {
  from {
    width: 50%; }
  to {
    width: 200px; } }

/*# sourceMappingURL=base_1.css.map */
