body {
    cursor: url("../img/cursor/wow_default.cur"),default;
}

h1 {
    margin: 10px 0 15px 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
}

h2 {
    text-align: center;
}

span.endSoon{
    color: #ff4c51;
    position: absolute;
    left: 35%;
}

.goTopBtn {
    position: fixed;
    bottom: 60px;
    right: 20px;
}

div.block {
    width: 330px;
    background: rgba(31, 128, 123, 0.2);
    padding: 10px;
    margin: 0 0 20px 20px;
    float: left;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    position: relative;
}

.leftDiv {
    width: var(--leftDivWidth);
}

.rightSidebar {
    width: var(--rightSidebarWidth);
    height: var(--rightSidebarHeight);
    background: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    padding: 10px;
    margin: 0;
    float: right;
    position: fixed;top: 0;right: 0;
}

.rightSidebarText{
    color: rgba(255, 255, 255, 0.8);
}

.floatRight {
    float:right;
}

.goYa {
    width: 650px;
    background: linear-gradient(130deg, rgba(248, 255, 0, 0.5), rgba(21, 153, 87, 0));
    padding: 10px;
    margin: 0 10px 20px 20px;
    float: left;
    position: relative;
}

.link:hover{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    transition-duration: 200ms;
}

hr.type1 {
    margin: 4px 0 2px 0;
    width: 100%;
    color: #7f7f7f;
    background: rgba(127, 127, 127, 0.36);
    height: 2px;
}

div.paraBox {
    display: flex;
    justify-content: space-between;
}

div.loadBg {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.loadBgFadeout {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: fadeout;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

div.loadPic {
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    transform-origin:50% 50%;
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    from {transform: rotate(50deg);}
    to {transform: rotate(410deg);}
}

@keyframes fadeout {
    from {opacity: 100%;
        width: 100%;height: 100%;}
    99% {opacity: 0;width: 100%;height: 100%;}
    to {width: 0;height: 0;}
}

div.loadText {
    width: 100px;
    height: 70px;
    position: fixed;
    text-align: center;
    font-size: 20px;
}