body {
    margin: 10px;
}

h1 {
    margin: 0 0 15px 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
}

h2 {
    margin: 0 0 5px 0;
    text-align: center;
}

.goTop {
    position: fixed;
    bottom: 6%;
    right: 2%;
}

.block {
    width: 330px;
    background: rgba(31, 128, 123, 0.2);
    padding: 10px;
    margin: 0 10px 15px 10px;
    float: left;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    position: relative;
}

.floatRight {
    float:right;
}

.goYa {
    width: 650px;
    background: linear-gradient(130deg, rgba(248, 255, 0, 0.5), rgba(21, 153, 87, 0));
    padding: 10px;
    margin: 0 10px 15px 10px;
    float: left;
    position: relative;
}

.link:hover{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    transition-duration: 300ms;
}