body {
    cursor: url("../img/cursor/wow_default.cur"),default;
}

#main-body {
    width: 100%;
    display: flex;
    .left-part {
        min-width: 400px;
        padding: 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .main-title {
            margin: 0 10px 10px 10px;
            font-size: 30px;
            font-weight: bold;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
        }
        .goYa {
            width: 330px;
            background: linear-gradient(90deg, rgba(248, 255, 0, 0.5), rgba(21, 153, 87, 0));
            padding: 10px;
            margin: 10px;
            .title {
                font-weight: bold;
                font-size: 17px;
            }
            .text-red {
                color: red;
            }
        }
        .box-part-min {

        }
        .box-part-max {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .box-col {
                display: flex;
                flex-direction: column;
                .box-1, .box-2 {
                    width: 330px;
                    //height: 310px;
                    background: rgba(31, 128, 123, 0.2);
                    padding: 10px;
                    margin: 10px;
                    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
                    .title {
                        font-weight: bold;
                        text-align: center;
                        font-size: 25px;
                    }
                    .sub-box {
                        margin-top: 15px;
                        .sub-title {
                            font-weight: bold;
                            font-size: 17px;
                        }
                        .text-red {
                            color: red;
                        }
                    }
                }
                .box-2 {
                    //height: 260px;
                }
            }
        }
    }

    .right-part {
        width: 200px;
        padding: 10px;
        background: #00FFF0;
    }
}