#main-body {
    width: 100%;
    display: flex;
    .left-part {
        min-width: 380px;
        padding: 0 0 0 10px;
        background: #FF0000;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .main-title {

        }
        .goYa {

        }
        .box-line-1 {

        }
        .box-line-2 {

        }
    }

    .right-part {
        min-width: 200px;
        height: 500px;
        padding: 10px;
        background: #00FFF0;
    }
}