body{margin: 10px;}
h1{margin: 0px 0px 10px 10px;}
h2{margin: 0px 0px 5px 0px;text-align: center;}

.block{
    width:330px;
    background:rgba(31,128,123,0.2);
    padding: 10px;
    margin: 0px 10px 20px 10px;
    float:left;
}